* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Kumbh Sans", sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

/* NAVBAR SECTION */
.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
}

#navbar-logo {
    padding-left: 25px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    background-color: #8400ff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
}

.navbar-links:hover,
.navbar-logo:hover {
    text-shadow: 0 0 10px #8400ff, 0 0 50px #8400ff, 0 0 100px #8400ff,
    0 0 200px #8400ff, 0 0 400px #8400ff;
    color: #8400ff;
}

.navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
}

.navbar-menu.active {
    background: linear-gradient(black, #2f0743);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: 90vh;
    font-size: 1.6rem;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    z-index: -1;
}

.navbar-item {
    width: 100%;
    height: 50px;
}

.navbar-links {
    color: white;
    text-align: center;
    padding: 0;
    width: 100%;
    display: table;
    text-decoration: none;
}

#mobile-menu i{
    position: absolute;
    top: 30%;
    right: 8%;
    font-size: 1.5em;
    color: white;
    transition: all 0.3s ease-in-out;
}

#mobile-menu i:hover{
    text-shadow: 0 0 10px #8400ff, 0 0 50px #8400ff, 0 0 100px #8400ff,
    0 0 200px #8400ff, 0 0 400px #8400ff;
    color: #8400ff;
}

/* HERO SECTION */
.hero-section {
    background: black;
    background-size: cover;
    height: 100vh;
}

.hero-section video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
}

.hero-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.box {
    z-index: 20;
    width: 90%;
    height: 65%;
    margin: 50px 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px #8400ff;
    border-radius: 25px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    animation: floating 3s infinite ease-in-out;
}

.box:hover {
    box-shadow: 0px 0px 40px 20px #8400ff;
}

.neon-sign-heading {
    font-family: "Monoton";
    font-size: 2.4rem;
    color: #8400ff;
    font-weight: 400;
    letter-spacing: 8px;
    position: relative;
    top: 35px;
    left: 4px;
    text-shadow: 1px 0px 4px #e0beff, 2px 0px 4px #e0beff, 3px 0px 4px #e0beff,
    2px 0px 3px #8400ff, 2px 3px 15px #8400ff, 2px 0px 15px, 5px 0px 125px,
    20px 0vw 200px #8400ff, 40px 0vw 200px #8400ff;
}

span {
    font-family: "Monoton";
    font-size: 2.4rem;
    color: #8400ff;
    font-weight: 400;
    letter-spacing: 8px;
}

.flicker-slow {
    animation: flicker 3s linear infinite;
}

.flicker-fast {
    animation: flicker 1s linear infinite;
}

.typed {
    color: #fff;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 4px;
}

.typed-cursor {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0px;
}

.roles {
    height: 100px;
    padding: 40px 0 0 0;
    right: 10%;
}

.resume-btn,
.fs-cv-btn {
    position: relative;
    top: 0px;
    margin-top: 10px;
    z-index: 0;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    border-radius: 25px;
}

.resume-btn::before,
.fs-cv-btn::before {
    content: "";
    background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.resume-btn:active,
.fs-cv-btn:active {
    color: #abeb34;
}

.resume-btn:active::after,
.fs-cv-btn:active::after {
    background: transparent;
}

.resume-btn:hover::before,
.fs-cv-btn:hover::before {
    opacity: 1;
}

.resume-btn::after,
.fs-cv-btn::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* ABOUT SECTION */
.about-section {
    background-color: black;
    z-index: 1;
    position: relative;
    padding: 5rem 0 0;
}

.wrapper {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(black, #2f0743);
}

.about-box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid #8400ff;
    border-radius: 15px;
    opacity: 0.2;
}

.about-box div:nth-child(1) {
    top: 40%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.about-box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.about-box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.about-box div:nth-child(4) {
    top: 50%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.about-box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.about-box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.about-box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.about-box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.about-box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.about-box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

.about-container {
    height: 100%;
    width: 100%;
}

.about-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-img {
    width: 320px;
    height: 320px;
    animation: floating 3s infinite ease-in-out;
}

.about-content {
    color: #fff;
    width: 100%;
    padding: 16px;
}

.section-title {
    font-family: "Monoton";
    font-size: 2.4rem;
    color: #8400ff;
    font-weight: 400;
    letter-spacing: 8px;
    text-align: left;
    text-shadow: 1px 0px 4px #e0beff, 2px 0px 4px #e0beff, 3px 0px 4px #e0beff,
    2px 0px 3px #8400ff, 2px 3px 15px #8400ff, 2px 0px 15px, 5px 0px 125px,
    20px 0vw 200px #8400ff, 40px 0vw 200px #8400ff;
  /* border: #48ff00 dashed 1px; */
}

.about-content p {
    margin-bottom: 1em;
}

.border-container {
    padding: 10px 0 16px 0;
    text-align: left;
}

.border {
    width: 10em;
    height: 2px;
    background: #8400ff;
}

.about-text {
    line-height: 1.5;
    font-size: 1em;
    width: 100%;
}

/* SKILLS SECTION */
.skills-section{
    width: 100%;
    height: auto;
    background: linear-gradient(#2f0743, 90%, #8400ff);
    z-index: 2;
    margin-top: 5rem;
    padding: 16px;
}

.skills-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-subsection-title{
    font-size: 1.5em;
    text-shadow: 0 0 10px #8400ff, 0 0 50px #8400ff, 0 0 100px #8400ff,
    0 0 200px #8400ff, 0 0 400px #8400ff;
    color: #8400ff;
    letter-spacing: 1px;
    padding-bottom: 16px;
}

.skills-subsection{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 2rem;
}

.icon{
    height: auto;
    width: 100px;
}

.skills-section h5{
    text-align: center;
    color: white;
}

/* ANIMATIONS */
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@keyframes flicker {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
    opacity: 0.99;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
    opacity: 0.4;
    }
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes glower {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes move-stars-back {
    from{background-position: 0 0;}
    to{background-position: -1000px 5000px;}
}

/* MEDIA QUERY SECTION */
@media screen and (min-height: 590px) {
    .box {
        height: 377px;
    }
}

@media screen and (min-width: 436px) {
    .hero_description {
        font-size: 1.1rem;
    }

/* .about{
        max-height: 300px;
    } */
}

@media screen and (min-width: 494px) {
    .fs-cv-btn {
        display: block;
        margin: 20px auto;
    }
}

@media screen and (min-width: 516px) {
    .hero_description {
        font-size: 1.3rem;
        margin: 20px 0 0 0;
    }

    .fs-cv-btn {
        margin: 40px auto;
    }

    .resume-btn {
        margin: 30px 0 0 0;
    }
}

@media screen and (min-width: 640px) {
    .resume-btn,
    .fs-cv-btn {
        display: inline-block;
        margin: 20px 0 0 0;
    }

    .roles {
        padding: 20px 0 0 0;
    }

    .neon-sign-heading,
    span {
        font-size: 3.2rem;
        margin: 0;
    }
}

@media screen and (min-width: 649px) {
    .resume-btn,
    .fs-cv-btn {
        display: inline-block;
        margin: 30px 0 0 0;
    }

    .typed {
        font-size: 2rem;
    }

    .roles {
        margin: 40px 0 0 0;
    }
}

@media screen and (min-width: 640px) {
    .section-title span{
        font-size: 1em;
    }
}

@media screen and (min-width: 712px) {
    .box {
        width: 640px;
    }

    .typed {
        font-size: 2rem;
    }

    .roles {
        padding: 20px 0 0 0;
    }

/* .about{
        max-height: 1000px;
    } */

    .about-container {
        display: flex;
    }
}

@media screen and (min-width: 960px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-menu {
        all: unset;
        display: flex;
        align-items: center;
        list-style: none;
    }

    #particles-js{
        /* display: none; */
    }

    .navbar-item {
        all: unset;
        height: 80px;
    }

    .navbar-links {
        all: unset;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        text-decoration: none;
        height: 100%;
        transition: all 0.3s ease-in-out;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

/* .about{
        max-height: 600px;
    } */

    .about-img {
        width: 100%;
        height: auto;
        max-height: 450px;
        max-width: 450px;
    }

    .about-box div:nth-child(1) {
        top: 20%;
        left: 42%;
        animation: animate 10s linear infinite;
    }

    .about-box div:nth-child(2) {
        top: 30%;
        left: 50%;
        animation: animate 7s linear infinite;
    }

    .about-box div:nth-child(5) {
        top: 45%;
        left: 10%;
        animation: animate 6s linear infinite;
    }

    .about-box div:nth-child(7) {
        top: 34%;
        left: 80%;
        animation: animate 15s linear infinite;
    }
}
