/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Yellowtail&display=swap");

/* BASE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Verdana;
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

/* SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #5900b3;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a00b3b5;
}

/* NAVBAR SECTION */
.navbar {
  background: black url("https://i.ibb.co/Qjw6pLp/wall-2059909-640.png");
  /* height: 80px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 1.2rem;
  position: fixed;
  width: 100%;

  z-index: 3;
  border-bottom: 3px white solid;
  transition: 0.3s;
}

.navbar-logo-link {
  text-decoration: none;
  width: 50px;
  color: #fff;
}

.navbar-logo {
  font-family: "Yellowtail";
  font-size: 2rem;
  letter-spacing: 3px;
  /* padding-left: 16px; */
  transform-origin: center bottom;
  float: left;
  position: relative;
  display: block;
  padding: 10px 20px 10px 16px;
}

.navbar-logo,
.navbar-links:hover {
  text-shadow: 0 0 7px #5900b3, 0 0 10px #5900b3, 0 0 21px #5900b3,
    0 0 42px #5900b3, 0 0 82px #5900b3, 0 0 92px #5900b3, 0 0 102px #5900b3,
    0 0 151px #5900b3;
  animation: flicker 1.5s ease-out 0.1s infinite alternate;
  transition: all 0.2s ease-in-out;
}

.navbar-logo:hover {
  animation: unset;
  transform: scale(1.05);
}

.navbar-menu {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  /* height: 100%; */
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.navbar-item a {
  width: 100%;
  /* height: 50px; */
  padding: 8px;
  display: block;
  transition: all 0.2s ease-out !important;
  transform-origin: center bottom;
  /* margin-top: 30px; */
  /* height: 100%; */
}

.navbar-item:hover {
  transform: scale(1.12);
}

.navbar-links {
  color: white;
  /* text-align: center; */
  padding: 20px 20px;
  height: 100%;
  /* width: 100%; */
  display: block;
  padding: 0;
  text-decoration: none;
  font-family: "Yellowtail" !important;
  font-size: 1.5rem !important;
}

/* MOBILE MENU ICON */
.mobile-menu-icon {
  cursor: pointer;
  z-index: 3;
  float: right;
  top: 5px;
  position: relative;
  display: block;
  padding: 28px 20px;
}

.mobile-menu-icon .navicon {
  background: white;
  display: block;
  height: 5px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 30px;
  border-radius: 100px;
}

.navicon:hover,
.navicon:hover::before,
.navicon:hover::after {
  background: #5900b3 !important;
}

.mobile-menu-icon .navicon::before,
.mobile-menu-icon .navicon::after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 100px;
}

.mobile-menu-icon .navicon::before {
  top: 10px;
}

.mobile-menu-icon .navicon::after {
  top: -10px;
}

/* MOBILE MENU TOGGLE BUTTON */
.mobile-menu-toggle {
  display: none;
}

.mobile-menu-toggle:checked ~ .navbar-menu {
  max-height: 240px;
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon .navicon {
  background: transparent !important;
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon .navicon::before {
  transform: rotate(-45deg);
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon .navicon::after {
  transform: rotate(45deg);
}

.mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navicon::before,
.mobile-menu-toggle:checked ~ .mobile-menu-icon:not(.steps) .navicon::after {
  top: 0;
}

/* HERO SECTION */
.hero-section {
  background: url(https://i.ibb.co/d7HYXM8/kevin-laminto-7-Pq-RZK6rba-E-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  padding-inline: 8vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}

.hero-text {
  color: white;
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hero-title {
  width: 100%;
  padding-bottom: 1rem;
}

.hero-title h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  font-size: 2em;
}

.typed {
  color: white;
  font-size: 2.5em;
  text-transform:uppercase;
  font-family: Montserrat;
  letter-spacing: 4px;
  text-shadow: 0 0 7px #5900b3, 0 0 10px #5900b3, 0 0 21px #5900b3,
    0 0 42px #5900b3, 0 0 82px #5900b3, 0 0 92px #5900b3, 0 0 102px #5900b3,
    0 0 151px #5900b3;
}

.typed-cursor {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0px;
  font-size: 3em;
  text-shadow: 0 0 7px #5900b3, 0 0 10px #5900b3, 0 0 21px #5900b3,
    0 0 42px #5900b3, 0 0 82px #5900b3, 0 0 92px #5900b3, 0 0 102px #5900b3,
    0 0 151px #5900b3;
}

.hero-subtext {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
}

.resume-btn,
.submit-btn {
  position: relative;
  order: 3;
  top: 0px;
  margin-top: 20px;
  z-index: 0;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  border-radius: 15px;
}

.resume-btn:hover,
.submit-btn:hover {
  text-shadow: 0 0 7px #5900b3, 0 0 10px #5900b3, 0 0 21px #5900b3,
    0 0 42px #5900b3, 0 0 82px #5900b3, 0 0 92px #5900b3, 0 0 102px #5900b3,
    0 0 51px #5900b3;
}

.resume-btn::before,
.submit-btn::before {
  content: "";
  background: #5900b3;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  animation: glowing 10s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.resume-btn:active::after,
.submit-btn:active::after {
  background: transparent;
}

.resume-btn:hover::before,
.submit-btn:hover::before {
  opacity: 1;
}

.resume-btn::after,
.submit-btn::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.hero-img {
  order: 1;
  justify-content: center;
  display: flex;
  min-height: 150px;
  width: 100%;
  margin-top: 65px;
  animation: floating 4s infinite ease-in-out;
}

.hero-img img {
  width: 150px;
  height: 150px;
}

/* ABOUT SECTION */
.about-section {
  background-color: black;
  z-index: 1;
  position: relative;
  padding: 5rem 0 0;
}

.wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(black, #2f0743, black);
}

.about-box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid #5900b3;
  border-radius: 15px;
  opacity: 0.2;
}

.about-box div:nth-child(1) {
  top: 40%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.about-box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.about-box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.about-box div:nth-child(4) {
  top: 50%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.about-box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.about-box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.about-box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.about-box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.about-box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.about-box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

.about-container {
  height: 100%;
  width: 100%;
}

.about-content {
  color: #fff;
  width: 100%;
  padding: 16px;
}

.section-title h1 {
  font-family: Yellowtail;
  font-size: 2.4rem;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 0 0 7px #5900b3, 0 0 10px #5900b3, 0 0 21px #5900b3,
    0 0 42px #5900b3, 0 0 82px #5900b3, 0 0 92px #5900b3, 0 0 102px #5900b3,
    0 0 151px #5900b3;
  animation: flicker 1.5s ease-out 0.3s infinite alternate;
}

.about-content p {
  margin-bottom: 1em;
}

.border-container {
  padding: 10px 0 16px 0;
  display: flex;
  justify-content: center;
}

.border {
  width: 10em;
  height: 3px;
  border-radius: 10px;
  background: white;
}

.about-text {
  line-height: 1.5;
  font-size: 1em;
  width: 100%;
}

.aws {
  display: block;
  margin: 0 auto 0 auto;
}

/* SKILLS SECTION */
.skills-section {
  width: 100%;
  height: auto;
  background: black;
  margin-top: 5rem;
  padding-top: 5rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-subsection-title {
  font-size: 1.5em;
  text-shadow: 0 0 7px #5900b3, 0 0 10px #5900b3, 0 0 21px #5900b3,
    0 0 42px #5900b3, 0 0 82px #5900b3, 0 0 92px #5900b3, 0 0 102px #5900b3,
    0 0 151px #5900b3;
  color: white;
  letter-spacing: 1px;
  padding: 20px 0 16px 0;
  z-index: 2;
  grid-area: title;
  text-align: center;
}

.skills-subsection {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 2rem;
  grid-template-areas: "title title";
  z-index: 2;
}

.icon {
  height: auto;
  width: 100px;
}

.skills-section h5 {
  text-align: center;
  color: white;
}

/* PROJECTS SECTION */
.projects-section {
  width: 100%;
  height: auto;
  background: black;
  padding-top: 5rem;
}

.projects-container {
  padding: 0 16px 0 16px;
}

.projects-img img {
  height: auto;
  width: 100%;
}

.projects-title {
  color: #5900b3;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2em;
  letter-spacing: 1px;
  text-shadow: 0 0 10px #8001ff, 0 0 50px #8001ff, 0 0 100px #8001ff;
}

.projects-tools {
  color: white;
  font-weight: 300;
  padding-bottom: 1em;
}

.projects-description {
  color: white;
  padding-bottom: 1em;
}

.projects-links a {
  text-decoration: none;
  margin-bottom: 1em;
}

.projects-links {
  display: flex;
  color: white;
}

/* CONTACT SECTION */
.contact-section {
  background: linear-gradient(black, #2f0743);
  padding: 5rem 0 1rem 0;
  width: 100%;
  height: auto;
}

form {
  padding: 0 10px;
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.contact-form-input {
  margin: 16px 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #7a00ff;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  border-radius: 10px;
  transition: 0.5s;
}

#textarea {
  height: 120px;
  resize: none;
}

.contact-form-input:focus {
  box-shadow: 0 0 10px 2px #7a00ff;
}

/* FOOTER SECTION */
footer {
  background: black;
  width: 100%;
  height: auto;
  padding: 40px 0;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 2rem;
}

.social-icons i:hover {
  color: white;
}

.social-icons i {
  color: #5900b3;
  transition: all 0.3s ease 0s;
}

footer h6 {
  color: white;
  text-align: center;
  padding-top: 2rem;
}

/* ANIMATIONS */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #5900b3, 0 0 11px #5900b3, 0 0 19px #5900b3,
      0 0 40px #5900b3, 0 0 80px #5900b3, 0 0 90px #5900b3, 0 0 100px #5900b3,
      0 0 150px #5900b3;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

/* MEDIA QUERY SECTION */
/* @media screen and (min-height: 590px) {
  
} */

@media screen and (min-width: 375px) {
  .navbar-logo {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 436px) {
  .hero_description {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 516px) {
  .hero_description {
    font-size: 1.3rem;
    margin: 20px 0 0 0;
  }

  .resume-btn {
    margin: 30px 0 0 0;
  }
}

@media screen and (min-width: 640px) {
  .resume-btn {
    display: inline-block;
    margin: 20px 0 0 0;
  }

  .roles {
    padding: 20px 0 0 0;
  }

  .neon-sign-heading,
  span {
    font-size: 3.2rem;
    margin: 0;
  }
}

@media screen and (min-width: 649px) {
  .resume-btn {
    display: inline-block;
    margin: 30px 0 0 0;
  }

  .typed {
    font-size: 2rem;
  }

  .roles {
    margin: 40px 0 0 0;
  }
}

@media screen and (min-width: 640px) {
  .section-title span {
    font-size: 1em;
  }
}

@media screen and (min-width: 712px) {
  .box {
    width: 640px;
  }

  .typed {
    font-size: 2rem;
  }

  .roles {
    padding: 20px 0 0 0;
  }

  .about-container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    flex-direction: row;
  }

  .hero-text {
    order: 1;
    width: 50%;
  }

  .hero-title h1{
    font-size: 3em;
  }

  .typed{
    font-size: 3em;
  }


  .hero-img{
    width: 50%;
    margin: 0;
  }

  .hero-img img{
    height: 350px;
    width: 350px;
  }


  .skills-container {
    all: unset;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 960px) {
  .mobile-menu-icon {
    display: none;
  }

  .navbar-menu {
    all: unset;
    float: right;
    max-height: none;
    display: flex;
    list-style: none;
    /* height: 100%; */
    padding: 10px 20px;
  }

  .navbar-item {
    margin-right: 50px;
  }

  .about-img {
    width: 100%;
    height: auto;
    max-height: 450px;
    max-width: 450px;
  }

  .about-box div:nth-child(1) {
    top: 20%;
    left: 42%;
    animation: animate 10s linear infinite;
  }

  .about-box div:nth-child(2) {
    top: 30%;
    left: 50%;
    animation: animate 7s linear infinite;
  }

  .about-box div:nth-child(5) {
    top: 45%;
    left: 10%;
    animation: animate 6s linear infinite;
  }

  .about-box div:nth-child(7) {
    top: 34%;
    left: 80%;
    animation: animate 15s linear infinite;
  }

  .projects-item {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-row-gap: 10rem;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .hero-title h1{
    font-size: 4em;
  }

  .typed{
    font-size: 4em;
  }

  .typed-cursor{
    font-size: 5em;
  }
}
